/**************PROGRESS -BAR --************/
#skill {
    margin: auto;
    list-style: none;
    position: relative;
    line-height: 2em;
}
#skill li { 
    background:#e9e5e2;
    height:20px; 
    border-radius:10px;      
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill li h3 { 
    position:relative; 
    top:-25px;
}
.bar { 
    height:16px; 
    margin:1px 2px;  
    position:absolute;
    border-radius:10px;  
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;       
}
.graphic-design {
    width:100%; 
    background-color: #99CC66;
}
/************EFECTO -- ERROR --***************/
.rubberBand {
    background: #FE789D;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    --webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        background: transparent;
    }
}
/*********TRES-- SEGUNDOS -- JUEGO--************/
#temporizador{
    display: none;
    min-height: 100vh;
    position: relative;
}
#numero{
    top: 40%;
    left: 50%;
    position: absolute;
    font-size:45px;
}

/*********--COLORES--GRADIANTES--************/
.color1{
    color: white;
    background: #74bcc9;
    background: -moz-linear-gradient(top,  #74bcc9 32%, #333659 100%);
    background: -webkit-linear-gradient(top,  #74bcc9 32%,#333659 100%);
    background: linear-gradient(to bottom,  #74bcc9 32%,#333659 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bcc9', endColorstr='#333659',GradientType=1 );
}
.color2{
    background: #6bba70;
    background: -moz-linear-gradient(top,  #6bba70 0%, #2a4226 100%);
    background: -webkit-linear-gradient(top,  #6bba70 0%,#2a4226 100%);
    background: linear-gradient(to bottom,  #6bba70 0%,#2a4226 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#2a4226',GradientType=1 );
}
.color3{
    background: #74bcc9;
    background: -moz-linear-gradient(top,  #74bcc9 0%, #cc7fff 1%, #79c4fe 100%);
    background: -webkit-linear-gradient(top,  #74bcc9 0%,#cc7fff 1%,#79c4fe 100%);
    background: linear-gradient(to bottom,  #74bcc9 0%,#cc7fff 1%,#79c4fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bcc9', endColorstr='#79c4fe',GradientType=0 ); 
}
.color4{
    background: #74bcc9;
    background: -moz-linear-gradient(top,  #74bcc9 0%, #fcb963 0%, #e03270 100%);
    background: -webkit-linear-gradient(top,  #74bcc9 0%,#fcb963 0%,#e03270 100%);
    background: linear-gradient(to bottom,  #74bcc9 0%,#fcb963 0%,#e03270 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bcc9', endColorstr='#e03270',GradientType=0 );
}
.color5{
    background: #74bcc9;
    background: -moz-linear-gradient(top,  #74bcc9 0%, #2080cd 0%, #c479d0 100%);
    background: -webkit-linear-gradient(top,  #74bcc9 0%,#2080cd 0%,#c479d0 100%);
    background: linear-gradient(to bottom,  #74bcc9 0%,#2080cd 0%,#c479d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bcc9', endColorstr='#c479d0',GradientType=0 );
}
.color6{
    background: #74bcc9;
    background: -moz-linear-gradient(top,  #74bcc9 0%, #d9de3a 0%, #70ae33 100%);
    background: -webkit-linear-gradient(top,  #74bcc9 0%,#d9de3a 0%,#70ae33 100%);
    background: linear-gradient(to bottom,  #74bcc9 0%,#d9de3a 0%,#70ae33 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bcc9', endColorstr='#70ae33',GradientType=0 );
}