    .mostrar{
        background: red;
        font-size: 40px;
        text-align:center;
    }
    #table {
        display:none;
        width: 500px;
        height: 500px;
        flex-wrap: wrap;
        margin: auto;
    }
    tr,td {
        font-size: 30px;
        color: blue;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        box-shadow: 1px 1px 1px  white;

    }
    #aactual{
        display: none;
        color: blue;
        font-size: 35px;
    }
